.button {
	background: #2c3e50;
	background-image: -webkit-linear-gradient(top, #2c3e50, #e74c3c);
	background-image: -moz-linear-gradient(top, #2c3e50, #e74c3c);
	background-image: -ms-linear-gradient(top, #2c3e50, #e74c3c);
	background-image: -o-linear-gradient(top, #2c3e50, #e74c3c);
	background-image: linear-gradient(to bottom, #2c3e50, #e74c3c);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 100%;
}

.button:hover {
	text-decoration: none;
	transition: all .2s ease-in-out;
	transform: scale(1.1);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #2c3e50;
}

.component {
	margin-bottom: 80px;
	background: #f9f9f9;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 1px 1px 30px #cecece;
}
